global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "kafka"
    static_configs:
      - targets:
          - "kafka1:8091"
          - "kafka2:8091"
          - "kafka3:8091"
        labels:
          env: "dev"